@model SocialMedia
@{
	ViewData["Title"] = "UpdateSocialMedia";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>sosyal medya hesabi guncelleme sayfasi</h1>
<form method="post">
	<input type="hidden" asp-for="SocialMediaId" />
	<label>ikon url</label>
	<input type="text" class="form-control" asp-for="Icon" style="border:1px solid black;" />
	<br />
	<label>link</label>
	<input type="text" class="form-control" asp-for="Link" style="border:1px solid black;" />
	<br />
	<button class="btn btn-primary">sosyal medya hesabi guncelle</button>
</form>

