
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <label>adiniz soyadiniz</label>
    <input type="text" class="form-control" />
    <br />
    <label>email adresiniz</label>
    <input type="email" class="form-control" />
    <br />
    <label>telefon numaraniz</label>
    <input type="tel" class="form-control" />
    <br />
    <label>konu</label>
    <input type="text" class="form-control" />
    <br />
    <label>mesajinizi yaziniz</label>
    <textarea rows="5" class="form-control"></textarea>
    <br />
    <button>mesaji gonder</button>
</div>